.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: bisque;
}

button {
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    margin-left: auto;
    margin-right: 30px;
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    background-color: #FF5A5F;
}


.amenities {
    height: 100%;
    width: 25%;
    background-color: aquamarine;
    margin-right: 200px;

}

h3 {
    font-weight: 800;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -15px;
}

.filters h3, .filters h4 {
    text-align: center;
}

.popover {
    list-style: none;
    width: 211px;
    background: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 40px;
    opacity: 0;
    transition: opacity 0.5s;
    
}

h2 {
    font-size: 16px;
}

.locations li {
    line-height: 25px;
}

.popover + .popover {
    margin-top: -15px;

}

.amenities li {
    line-height: 30px;
}

.locations:hover .popover, .amenities:hover .popover {
    opacity: 1;
}